/*body{
  background-attachment: fixed;
  background-image: url("../images/image3.png");
  background-repeat: no-repeat;
  background-position: center;
  }

.panel-head{
  color: white;
}
#header{
  color: white;
}
.jumbotron{
  text-align: center;
}

input{
  color: black;
}*/
